@media (max-width: 1400px){
  .about-img{
    &__inner{
      &::before{
        display: none;
      }
    }
    &__btn-inner{
      right: 0;
      left: 0;
      bottom: auto;
      top: -100px;

    }
  }
}

@media (max-width: 1200px) {
  //Resources
  .resources{
    &-inner{
      grid-template-columns: repeat(2, 1fr);
      justify-items: center
    }
    &-item{
      max-width: 344px;
    }
  }


  //Blog
  .blog-recent{
    &__inner{
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .resources-item{
      margin: 15px 0;
    }
  }



  //About
  .about-coach{
    .typical-week{
    &__inner{
      justify-content: space-evenly;
    }
  }
  }
  .interact{
    &__inner{
      &::before{
        display: none;
      }
    }
  }
}


@media (max-width: 992px){
  //Pricing
  .price-items{
    &__inner{
      justify-content: center;
      
    }
  }
  .price-item{
    max-width: 250px;
    &__btn{
      padding: 10px 0;
    }
  }


  //Blog
  .blog-receip{
    &__item-imgbox{
      margin-right: 40px;
    }
  }



  //About
  .nutrition{
    &__imgbox{
      margin-left: 0;
      margin-right: 30px;
    }
  }
  .physical{
     &__content{
       margin: 0 ;
     }
  }
  .lifestyle{
    &__imgbox{
      margin-right: 40px;
    }
  }
  
}



@media (max-width: 768px) {
  //Pricing
  .header{
    min-height: 100vh;
    &-content{
      display: flex;
      justify-content: center;
      align-self: center;
      flex-direction: column;
      height: 60vh;
    }
    &-title{
      margin-top: 0;
      // margin-bottom: 50px;
    }
    .menu__list{
      &-item + .menu__list-item{
        margin-left: 15px;
      }
      &-link{
        font-size: 14px;
      }
      &-btn{
      padding: 10px 20px;
      }  
    }
    &-title{
      font-size: 70px;
    } 
  }
  .price-items{
    &__inner{
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .price-item{
    
    height: 350px;
    padding: 35px;
    &__plan{
      font-size: 28px;
    }
    &__numbers{
      font-size: 54px;
    }
    &__btn{
      width: 135px;
    }
  }
  .price-item--recomended{
    order: 1;
    .price-item__block{
      height: 108%;
    }
  }
  .partners{
    &__inner{
      flex-wrap: wrap;
      justify-content: space-around;
      img{
        margin: 10px;
      }
    }
  }
  .cancel{
    &-title{
      font-size: 44px;
    }
    &-text{
      font-size: 20px;
    }
  }
  .coach{
    &__title{
      font-size: 56px;
    }
    &__descr-inner{
      column-count: 1;
    }
    &__descr-inner-text{
      margin-bottom: 15px;
    }
    &__team{
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__team-item{
      margin: 10px;
    }
  }



  //Resources
  .header-content__resources{
    .header-title{
      margin-top: 0;
    }
  }
  .resources{
    margin-top: 40px;
    &-inner{
      grid-template-columns: repeat(1, 1fr);
      justify-items: center
    }
    &-item{
      max-width: 100%;
    }
    &-item__img{
      width: 100%;
    }
    
  }
  .pagination__arrows{
      display: none;
    }



//Blog
.header-content__blog{
  height: 60vh;
  .header-title{
    font-size: 58px;
  }
}  
.breadcrumbs{
  margin-top: 20px;
}

.blog-top{
  margin-top: 40px;
}
.blog-receip{
  &__item-inner{
    display: block;
  }
  &__item-imgbox{
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
    img{
      width: 100%;
    }
  }
  &__item-title{
    text-align: center;
  }
  &__item-holder{
    justify-content: center;
  }
  &__item-time {
    margin-right: 10px;
  }
  &__item-ingredients__inner {
    column-gap: 15px;
  }
}



//About
  .nutrition{
    margin-bottom: 120px;
    &__inner{
      display: block;
    }
    &__imgbox{
      margin-right: 0;
      &::before{
        display: none;
      }
    }
    &__img{
      max-width: 100%;
      width: 100%;
      
      min-height: auto;
    }
    &__content{
      margin-left: auto;
    }
  }
  .physical{
    margin-bottom: 120px;
    &__inner{
      display: block;
    }
     &__imgbox{
      margin-right: 0;
    }
    &__img{
      max-width: 100%;
      width: 100%;
      height: auto;
    }
    &__content{
      margin-bottom: 40px;
    }
  }
  .lifestyle{
    &__inner{
      display: block;
    }
    &__imgbox{
      margin-right: 0;
      &::before{
        display: none;
      }
    }
    &__img{
      max-width: 100%;
      width: 100%;
      height: auto;
    }
    &__content{
      margin: 0 auto;
    }
  }
  .about-result{
    &__inner{
      display: block;
    }
    &__item{
      width: 100%;
    }
  }
  .expect{
    &-title{
      font-size: 56px;
    }
    &__inner{
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .about-coach{
    .typical-week__title{
      font-size: 56px;
    }
  }
  .interact{
    &-title{
      font-size: 56px;
    }
  } 
}

@media (max-width: 576px) {
  //Pricing
  .header{
    .menu__btn{
      width: 30px;
      height: 22px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      padding: 0;
      span{
        width: 100%;
        height: 3px;
        background-color: $title;
      }
      &::after,
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $title;
      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
      }
    } 
    .menu__list{
      position: absolute;
      top: 100px;
      left: 0;
      display: block;
      width: 100%;
      background-color: $bg2;
      text-align: center;
      transform: translateY(-200%);
      transition: all .1s;
      z-index: 99;
      &-item + .menu__list-item{
        margin-left: 0;
      }
      &-item{
        padding: 15px 0;
      }
      &-link{
        display: block;
      }
      &-btn{
      padding: 10px 20px;
      display: inline-block;
      }  
    } 
    .menu__list--active{
      transform: translateY(0);
      transition: all .1s;
    }
  }
  .price-item{
    max-width: 270px;
  }
  .price-item--recomended{
    order: 0;
    .price-item__block{
      top: -20px;
    }
  }
  .footer{
    &-copy{
      width: 200px;
      text-align: center;
      font-size: 14px;
    }
  }



  //Resources
  .pagination{
    &__link{
      width: 40px;
      height: 40px;
    }
  }


  //About
  .header-about{
    
    .header-text{
      font-size: 20px;
    }
  }
  
}

@media (max-width: 440px) {
  //Pricing
  .cancel{
    &-title{
      font-size: 40px;
    }
  }
  .footer{
    &-logo{
      width: 80px;
    }
    &-copy{
      width: 120px;
      font-size: 13px;
    }
    &-social__link + .footer-social__link{
      margin-left: 3px;
    }
  }


  //About
  .feel{
    padding: 100px 0;
    &-title{
      font-size: 56px;
    }
  }
  .nutrition{
    margin-bottom: 60px;
    &__title{
      font-size: 56px;
    }
  }
  .physical{
    margin-bottom: 60px;
    &__title{
      font-size: 56px;
    }
  }
  .lifestyle{
    &__title{
      font-size: 56px;
    }
  }
  .interact{
    &-text{
      font-size: 20px;
    }
  } 
  
}