$title: #583D2B;
$default: #100F0A;
$accent: #71A364;
$link: #FF862F;
$bg: #F6E7DA;


%CormorantGaramond-700{
  font-family: 'CormorantGaramond-Bold';
  font-weight: 700;
}

%CormorantGaramond-400{
  font-family: 'CormorantGaramond-Regular';
  font-weight: 400;
}

%OpenSans-700{
  font-family: 'OpenSans-Bold';
  font-weight: 700;
}

%OpenSans-400{
  font-family: 'OpenSans-Regular';
  font-weight: 400;
}

%btn{
  border: none;
  background-color: $link;
  color: #fff;
  padding: 7px 24px;
  cursor: pointer;
}