$title: #583D2B;
$title2-black: #100F0A;
$accent1: #FF862F;
$accent2: #71A364;
$bg: #F6E7DA;
$bg2: #F5F2EF;


%CormorantGaramond-700{
  font-family: 'CormorantGaramond-Bold';
  font-weight: 700;
}

%CormorantGaramond-400{
  font-family: 'CormorantGaramond-Regular';
  font-weight: 400;
}

%OpenSans-700{
  font-family: 'OpenSans-Bold';
  font-weight: 700;
}

%OpenSans-400{
  font-family: 'OpenSans-Regular';
  font-weight: 400;
}

%btn{
  border: 1px solid rgba($color: $accent1, $alpha: 0);
  background-color: $accent1;
  color: #fff;
  padding: 10px 24px;
  cursor: pointer;
  transition: all .5s;
  &:hover{
    background-color: transparent;
    color: $accent1;
    border: 1px solid rgba($color: $accent1, $alpha: 1);
  }
}
