@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



//Payment page
.header{
  background-image: url('../images/header-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 600px;
  &-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    
  }
  .menu__list{
    display: flex;
    align-items: center;
    &-item+.menu__list-item{
    margin-left: 64px;
    }
    &-link{
      color: inherit;
      transition: all .3s;
      &:hover{
        color: $accent1;
      }
    }
    &-link--active{
      color: $accent1;
    }
    &-btn{
      @extend %btn;
    }
  }
  &-title{
    color: $title;
    font-size: 100px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.02em;
    max-width: 594px;
    margin: 0 auto;
    margin-top: 64px;
    @extend %CormorantGaramond-400;
  }
}


.price-items{
  padding-bottom: 48px;
  &__inner{
    display: flex;
    margin-top: -186px;
  }
}
.price-item{
  max-width: 314px;
  width: 100%;
  height: 414px;
  border: 1px solid $bg2;
  background-color: #fff;
  padding: 71px 0 64px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &__block{
    display: none;
  }
  &__plan{
    font-size: 32px;
    line-height: 115%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    @extend %CormorantGaramond-400;
  }
  &__numbers{
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    min-height: 90px;
    color: $title;
    @extend %CormorantGaramond-400;
    span{
      margin-left: -10px;
      font-size: 24px;
      line-height: 165%;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $title;
      @extend %OpenSans-400;
    }
  }
  &__economy{
    color: $accent2;
    font-size: 15px;
    line-height: 26px;
    @extend %OpenSans-700;
  }
  &__btn{
    @extend %btn;
    padding: 18px 0;
    width: 197px;
    margin: 0 auto;
    z-index: 9;
  }
}

.price-item--recomended{
  border-bottom: none;
  position: relative;
  .price-item__block{
    display: block;
    max-width: 314px;
    width: 100%;
    height: 462px;
    border: 1px solid $accent2;
    position: absolute;
    left: 0;
    top: -25px;
  }
  .price-item__text{
    color: #fff;
    background-color: $accent2;
    padding: 10px 0;
  }
}

.partners{
  padding: 24px 0 36px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
      opacity: .5;
    }
  }
}

.cancel{
  padding: 36px 0 60px;
  text-align: center;
  &__inner{
    padding: 38px 0;
    background-color: $bg2;
  }
  &-title{
    
    font-size: 48px;
    line-height: 115%;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 10px;
    @extend %CormorantGaramond-400;
  }
  &-text{
    font-size: 24px;
    line-height: 165%;
    max-width: 476px;
    margin: 0 auto;
    @extend %OpenSans-400;
    & span{
      @extend %OpenSans-700;
    }
  }
}

.coach{
  padding: 60px 0 120px;
  &__title{
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    text-align: center;
    margin-bottom: 32px;
    @extend %CormorantGaramond-400;
  }
  &__descr-text{
    text-align: center;
    margin-bottom: 24px;
    @extend %OpenSans-400;
  }
  &__descr-inner{
    column-count: 2;
    margin-bottom: 48px;
  }
  &__descr-inner-text{
    padding-left: 36px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 15px;
      height: 13px;
      background-image: url('../images/icons/check-mark.svg');
      left: 0;
      top: 7px;
    }
  }
  &__team{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 84px;
  }
  &__team-item__img{
    margin: 0 auto 12px;
    border-radius: 50%;
  }
  &__team-item__text{
    font-size: 32px;
    line-height: 115%;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    @extend %CormorantGaramond-400;
  }
  &__headmember{
    max-width: 594px;
    margin: 0 auto;
    background-color: $bg;
    text-align: center;
    padding: 40px 0;
  }
  &__headmember-title{
    font-size: 48px;
    line-height: 115%;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 24px;
    @extend %CormorantGaramond-400;
  }
  &__headmember-text{
    max-width: 435px;
    margin: 0 auto;
    @extend %OpenSans-400;
  }
}

.footer{
  background-color: $title2-black;
  padding: 55px 0 54px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-copy{
    color: #fff;
    opacity: .5;
    @extend %OpenSans-400;
  }
  &-social{
    display: flex;
    align-items: center;
    opacity: .5;
  }
  &-social__link+.footer-social__link{
    margin-left: 8px;
  }
}



//Resources
.header-content__resources{
  .header-title{
    margin-top: 164px;
  }
}

.resources{
  margin-top: -108px;
  margin-bottom: 72px;
  &-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 64px 32px;
  }
  &-item{
    max-width: 359px;
    width: 100%;
  }
  &-item__imgbox{
    margin-bottom: 24px;
  }
  &-item__date{
    font-size: 13px;
    line-height: 150%;
    opacity: 0.5;
    @extend %OpenSans-400;
  }
  &-item__title{
    font-size: 24px;
    line-height: 165%;
    margin-bottom: 8px;
    transition: all .3s;
    &:hover{
      color: $accent1;
    }
  }
  &-item__title-link{
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: none;
  }
  &-item__text{
    font-size: 15px;
    line-height: 175%;
    @extend %OpenSans-400;
  }
  &-item__link{
    @extend %btn;
    margin: 64px auto 0;
    width: 205px;
    display: block;
    padding: 18px 55px;
  }
}


//Blog
.header-content__blog{
  .header-title{
    margin-top: 16px;
    min-width: 748px;
    font-size: 64px;
    line-height: 64px;
  }
  &-date{
    margin-top: 24px;
    text-align: center;
    font-size: 13px;
    line-height: 150%;
    opacity: 0.5;
    @extend %OpenSans-400;
  }
}
.blog-top{
  margin-top: -185px;
  margin-bottom: 64px;
  @extend %OpenSans-400;
  &__img{
    margin-bottom: 64px;
  }
  &__descr{
    max-width: 750px;
    margin: 0 auto;
  }
  &__text{
    margin-bottom: 35px;
  }
  &__list{
    list-style-type: disc;
  }
  ol.blog-top__list{
    padding-left: 18px;
  }
  &__item{
    margin-bottom: 24px;
    span{
      @extend %OpenSans-700;
    }
    &::marker{
      color: $accent2;
    }
    &:first-child{
      list-style: none;
      margin-bottom: 24px;
      margin-left: -20px;
    }
  }
}
.blog-receip{
  margin-bottom: 120px;
  &__title{
    text-align: center;
    font-size: 48px;
    line-height: 115%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 40px;
    @extend %CormorantGaramond-400;
  }
  &__item{
    margin-bottom: 80px;
    @extend %OpenSans-400;
  }
  &__item-inner{
    display: flex;
  }
  &__item-imgbox{
    max-width: 455px;
    width: 100%;
    margin-right: 99px;
  }
  &__item-title{
    font-size: 32px;
    line-height: 115%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title2-black;
    margin-bottom: 24px;
    @extend %CormorantGaramond-400;
  }
  &__item-holder{
    display: flex;
    margin-bottom: 24px;
  }
  &__item-time{
    max-width: 150px;
    width: 100%;
    margin-right: 32px;
    span{
      @extend %OpenSans-700;
    }
  }
  &__item-serving{
    margin-bottom: 24px;
    span{
      display: block;
      @extend %OpenSans-700;
    }
  }
  &__item-ingredients__title{
    margin-bottom: 8px;
    display: block;
    @extend %OpenSans-700;
  }
  &__item-ingredients__inner{
    column-count: 2;
    column-gap: 68px;
    
  }
  &__item-list{
    max-width: 258px;
  }
  ul.blog-receip__item-list{
    padding-left: 17px;
  }
  &__item-excerpt{ 
    list-style-type: disc;
    margin-bottom: 35px;
    &::marker{
      color: $accent2;
    }
  }
  &__item-instructions{
    li{
      list-style-type: decimal-leading-zero;
      padding-left: 18px;
      margin-bottom: 25px;
      &::marker{
        color: $accent2;
        margin-right: 16px;
        @extend %OpenSans-700;
      }
    }
  }
  &__item-instructions__title{
      @extend %OpenSans-700;
      margin-bottom: 8px;
      display: block;
  }
  ol.blog-receip__item-instructions{
    padding-left: 25px;
  }
}
.blog-recent{
  margin-bottom: 150px;
  &__title{
    font-size: 64px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 64px;
    text-align: center;
    color: $title;
    @extend %CormorantGaramond-400;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
}
//main
.header-main{
  min-height: 860px;
  height: 100%;
  position: relative;
  .header-title{
    text-align: left;
    margin-top: 0;
    margin-bottom: 32px;
  }
  .header-content{
    display: flex;
    margin-top: 71px;
    &__box{
    max-width: 515px;
    }
    &__boximg{
      align-self: end;
    }
    &__box-text{
      font-size: 24px;
      line-height: 165%;
      margin-bottom: 49px;
      @extend %OpenSans-400;
      span{
        @extend %OpenSans-700;
        border-bottom: 2px solid $accent2;
      }
    }
    &__box-inner{
      display: flex;
      margin-bottom: 79px;
    }
    &__box-btn{
      margin-right: 30px;
      @extend %btn;
      padding: 18px 0;
      width: 197px;
      text-align: center;
    }
    &__box-descr{
      font-size: 13px;
      line-height: 150%;
      max-width: 205px;
      @extend %OpenSans-400;
      span{
        @extend %OpenSans-700;
      }
    }
    &__box-review{
      @extend %OpenSans-400;
      position: relative;
      span{
        display: block;
        margin-top: 16px;
        @extend %OpenSans-700;
      }
      &::before{
        content: '';
        position: absolute;
        width: 51px;
        height: 40px;
        left: -25px;
        top: -15px;
        background-image: url('../images/decore/1.svg');
        z-index: 9;
      }
    }
  }
  .header-stats{
    background-color: #fff;
    max-width: 899px;
    width: 100%;
    padding: 40px 150px 42px 64px;
    position: absolute;
    right: 0;
    bottom: -89px;
    &__inner{
      display: flex;
      justify-content: space-between;
    }
    &__item{
      padding-left: 50px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        left: 22px;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: $bg;
      }
      &:first-child{
        &::before{
          display: none;
        }
      }
    }
    &__item__num{
      max-width: 157px;
      font-size: 64px;
      line-height: 100%;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $accent2;
      
      @extend %CormorantGaramond-400;
      span{
        display: block;
        font-size: 15px;
        line-height: 175%;
        color: $title2-black;
        @extend %OpenSans-400;
      }
    }
  }
}
.feel-supported{
  padding-top: 247px;
  padding-bottom: 150px;
  background-color: $bg2;
  &__inner{
    display: flex;
  }
  &__imgbox{
    position: relative;
    max-width: 622px;
    width: 100%;
    height: 400px;
    margin-right: 129px;
    &::before{
      content: '';
      position: absolute;
      bottom: -55px;
      left: 15px;
      width: 314px;
      height: 181px;
      background-image: url('../images/decore/2.svg');
    }
  }
  &__content{
    max-width: 359px;
  }
  &__title{
    font-size: 64px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 24px;
    @extend %CormorantGaramond-400;
  }
  &__text{
    @extend %OpenSans-400;
    margin-bottom: 48px;
    span{
      @extend %OpenSans-700;
      border-bottom: 2px solid $accent2;
    }
  }
  &__btn{
    @extend %btn;
  }
}
.guidance{
  padding-bottom: 150px;
  background-color: $bg2;
  &__inner{
    display: flex;
  }
  &__imgbox{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      bottom: 10px;
      right: -153px;
      width: 183px;
      height: 308px;
      background-image: url('../images/decore/3.svg');
    }
  }
  &__img{
    margin-left: 129px;
  }
  &__content{
    max-width: 359px;
    padding-top: 50px;
  }
  &__title{
    font-size: 64px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 24px;
    @extend %CormorantGaramond-400;
  }
  &__text{
    @extend %OpenSans-400;
    margin-bottom: 48px;
    span{
      @extend %OpenSans-700;
      border-bottom: 2px solid $accent2;
    }
  }
  &__btn{
    @extend %btn;
  }
}
.results{
  background-color: $bg2;
  padding-bottom: 208px;
  &__inner{
    display: flex;
  }
  &__imgbox{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      bottom: -125px;
      left: 65px;
      width: 188px;
      height: 188px;
      background-image: url('../images/decore/4.svg');
      z-index: 99;
    }
  }
  &__img{
    margin-left: 129px;
  }
  &__title{
    font-size: 64px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 24px;
    @extend %CormorantGaramond-400;
  }
  &__content{
    max-width: 359px;
    margin: 0 auto;
    padding-top: 80px;
  }
  &__text{
    @extend %OpenSans-400;
    margin-bottom: 48px;
    span{
      @extend %OpenSans-700;
      border-bottom: 2px solid $accent2;
    }
  }
  &__btn{
    @extend %btn;
  }
}
.price-items__main{
  padding: 150px 0;
  .price-items__inner{
    margin-top: 0;
  }
  .price-items__main-title{
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 64px;
    @extend %CormorantGaramond-400;
  }
}
.slider{
  margin-bottom: 150px;
  &-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
  }
  &-title{
    font-size: 64px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    
    @extend %CormorantGaramond-400;
  }
  .swiper{
    box-sizing: border-box;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .swiper-slide{
    max-width: 425px;
    width: 100%;
  }
  .swiper-navigation{
    button{
      border: none;
      background-color: transparent;
      margin: 0 15px;
      cursor: pointer;
    }
  }
  .swiper-slide__text{
    @extend %OpenSans-400;
    span{
      @extend %OpenSans-700;
      margin-top: 40px;
      display: block;
    }
  }
}
.start{
  background-color: $bg;
  padding-top: 96px;
  padding-bottom: 82px;
  &-inner{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      top: -30px;
      background-image: url('../images/decore/5.png');
      width: 283px;
      height: 324px;
    }
    &::before{
      content: '';
      position: absolute;
      right: 0;
      top: 70px;
      background-image: url('../images/decore/6.png');
      width: 245px;
      height: 137px;
    }
  }
  &-inner__title{
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 24px;
    @extend %CormorantGaramond-400;
  }
  &-inner__text{
    font-size: 24px;
    line-height: 165%;
    text-align: center;
    max-width: 500px;
    margin: 0 auto 40px;
    @extend %OpenSans-400;
    span{
      @extend %OpenSans-700;
      border-bottom: 2px solid $accent2;
    }
  }
  &-inner__btn{
    @extend %btn;
    width: 197px;
    margin: 0 auto;
    display: block;
    padding: 18px 55px;
  }
}



//about
.header-about{
  .header-title{
    margin-top: 91px;
    margin-bottom: 32px;
  }
  .header-text{
    max-width: 727px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 165%;
    text-align: center;
    @extend %OpenSans-400;
    span{
      @extend %OpenSans-700;
      border-bottom: 2px solid $accent2;
    }
  }
}
.feel{
  padding: 100px 0 168px;
  &-title{
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    max-width: 535px;
    margin: 0 auto 32px;
    @extend %CormorantGaramond-400;
  }
  &-subtitle{
    font-size: 32px;
    line-height: 115%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    max-width: 535px;
    margin: 0 auto 116px;
    @extend %CormorantGaramond-400;
  }
}
.nutrition{
  margin-bottom: 172px;
  &__inner{
    display: flex;
  }
  &__imgbox{
    margin-left: 98px;
    margin-right: 129px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/decore/nutrition.svg');
      width: 182.5px;
      height: 296.5px;
      left: -95px;
      bottom: -100px;
    }
  }
  &__img{
    max-width: 457px;
    min-height: 424px;
  }
  &__content{
    padding-top: 65px;
    max-width: 359px;
  }
  &__title{
    font-size: 64px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 24px;
    @extend %CormorantGaramond-400;
  }
  &__text{
    @extend %OpenSans-400;
    span{
      @extend %OpenSans-700;
      border-bottom: 2px solid $accent2;
    }
  }
}
.physical{
  margin-bottom: 172px;
  &__inner{
    display: flex;
  }
  &__img{
    max-width: 457px; 
  }
  &__content{
    padding-top: 65px;
    max-width: 359px;
   margin: 0 auto;
  }
  &__title{
    font-size: 64px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 24px;
    @extend %CormorantGaramond-400;
  }
  &__text{
    @extend %OpenSans-400;
    span{
      @extend %OpenSans-700;
      border-bottom: 2px solid $accent2;
    }
  }
}
.lifestyle{
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__imgbox{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/decore/lifestyle.svg');
      height: 182.5px;
      width: 297.5px;
      right: -65px;
      bottom: -100px;
      // transform: rotate(-90deg);
    }
  }
  &__content{
    padding-top: 65px;
    max-width: 359px;
  }
  &__title{
    font-size: 64px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 24px;
    @extend %CormorantGaramond-400;
  }
  &__text{
    @extend %OpenSans-400;
    span{
      @extend %OpenSans-700;
      border-bottom: 2px solid $accent2;
    }
  }
}
.about-result{
  margin-bottom: 119px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    padding-left: 56px;
    padding-top: 67px;
    width: 302px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 25px;
      left: 0;
      width: 184px;
      height: 200px;
      background-repeat: no-repeat;
    }
  }
  &__item-result::before{
    background-image: url('../images/decore/01.svg');
  }
  &__item-personalised::before{
    background-image: url('../images/decore/02.svg');
  }
  &__item-practical::before{
    background-image: url('../images/decore/03.svg');
    
  }
  &__item-title{
    font-size: 32px;
    line-height: 115%;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 16px;
    @extend %CormorantGaramond-400;
  }
  &__item-text{
    @extend %OpenSans-400;
  }
}
.expect{
  margin-bottom: 120px;
  &-title{
    font-size: 64px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 56px;
    text-align: center;
    @extend %CormorantGaramond-400;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
  }
  &__inner-item{
    max-width: 197px;
    @extend %OpenSans-400;
    text-align: center;
  }
  &__inner-item__title{
    font-size: 32px;
    line-height: 115%;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 40px;
    @extend %CormorantGaramond-400;
  }
  &__inner-item__text{
    max-width: 157px;
    margin: 0 auto;
    span{
      display: block;
      font-size: 64px;
      line-height: 100%;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $accent2;
      margin-bottom: 8px;
      @extend %CormorantGaramond-400;
    }
  }
  &-subtitle{
    font-size: 32px;
    line-height: 115%;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    max-width: 554px;
    margin: 0 auto 43px;
    text-align: center;
    @extend %CormorantGaramond-400;
  }
  &-btn{
    @extend %btn;
    margin: 0 auto;
    display: block;
    width: 197px;
    padding: 13px 54px;
  }
}
.about-price{
  margin-bottom: 120px;
  .price-items__inner{
    margin-top: 0;
    padding-top: 0;
  }
  .about-price__title{
    text-align: center;
    font-size: 64px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 64px;
    @extend %CormorantGaramond-400;
  }
}
.about-coach{
  background-color: $bg2;
  .coach{
    padding: 60px 0 180px;
  }
  .typical-week{
    padding-bottom: 180px;
  }
  .typical-week__title{
    text-align: center;
    font-size: 64px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 64px;
    @extend %CormorantGaramond-400;
  }
  .typical-week__inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 48px 0;
    
  } 
  .typical-week__text{
    padding-left: 31px;
    position: relative;
    max-width: 348px;
    // margin-bottom: 78px;
    &::before{
      position: absolute;
      content: '';
      top: 10px;
      left: 0;
      width: 17px; 
      height: 13px;
      background-image: url('../images/icons/check-mark.svg')
    }
  }
}

@import 'media';