@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



//Payment page
.header{
  background-image: url('../images/header-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 600px;
  &-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    
  }
  .menu__list{
    display: flex;
    align-items: center;
    &-item+.menu__list-item{
    margin-left: 64px;
    }
    &-link{
      color: inherit;
      transition: all .3s;
      &:hover{
        color: $accent1;
      }
    }
    &-link--active{
      color: $accent1;
    }
    &-btn{
      @extend %btn;
    }
  }
  &-title{
    color: $title;
    font-size: 100px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.02em;
    max-width: 594px;
    margin: 0 auto;
    margin-top: 64px;
    @extend %CormorantGaramond-400;
  }
}


.price-items{
  padding-bottom: 48px;
  &__inner{
    display: flex;
    margin-top: -186px;
  }
}
.price-item{
  max-width: 314px;
  width: 100%;
  height: 414px;
  border: 1px solid $bg2;
  background-color: #fff;
  padding: 71px 0 64px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &__block{
    display: none;
  }
  &__plan{
    font-size: 32px;
    line-height: 115%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    @extend %CormorantGaramond-400;
  }
  &__numbers{
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    min-height: 90px;
    color: $title;
    @extend %CormorantGaramond-400;
    span{
      margin-left: -10px;
      font-size: 24px;
      line-height: 165%;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $title;
      @extend %OpenSans-400;
    }
  }
  &__economy{
    color: $accent2;
    font-size: 15px;
    line-height: 26px;
    @extend %OpenSans-700;
  }
  &__btn{
    @extend %btn;
    padding: 19px 56px;
    width: 197px;
    margin: 0 auto;
    z-index: 9;
  }
}

.price-item--recomended{
  border-bottom: none;
  position: relative;
  .price-item__block{
    display: block;
    max-width: 314px;
    width: 100%;
    height: 462px;
    border: 1px solid $accent2;
    position: absolute;
    left: 0;
    top: -25px;
  }
  .price-item__text{
    color: #fff;
    background-color: $accent2;
    padding: 10px 0;
  }
}

.partners{
  padding: 24px 0 36px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
      opacity: .5;
    }
  }
}

.cancel{
  padding: 36px 0 60px;
  text-align: center;
  &__inner{
    padding: 38px 0;
    background-color: $bg2;
  }
  &-title{
    
    font-size: 48px;
    line-height: 115%;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 10px;
    @extend %CormorantGaramond-400;
  }
  &-text{
    font-size: 24px;
    line-height: 165%;
    max-width: 476px;
    margin: 0 auto;
    @extend %OpenSans-400;
    & span{
      @extend %OpenSans-700;
    }
  }
}

.coach{
  padding: 60px 0 120px;
  &__title{
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    text-align: center;
    margin-bottom: 32px;
    @extend %CormorantGaramond-400;
  }
  &__descr-text{
    text-align: center;
    margin-bottom: 24px;
    @extend %OpenSans-400;
  }
  &__descr-inner{
    column-count: 2;
    margin-bottom: 48px;
  }
  &__descr-inner-text{
    padding-left: 36px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 15px;
      height: 13px;
      background-image: url('../images/icons/check-mark.svg');
      left: 0;
      top: 7px;
    }
  }
  &__team{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 84px;
  }
  &__team-item__img{
    margin: 0 auto 12px;
    border-radius: 50%;
  }
  &__team-item__text{
    font-size: 32px;
    line-height: 115%;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    @extend %CormorantGaramond-400;
  }
  &__headmember{
    max-width: 594px;
    margin: 0 auto;
    background-color: $bg;
    text-align: center;
    padding: 40px 0;
  }
  &__headmember-title{
    font-size: 48px;
    line-height: 115%;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 24px;
    @extend %CormorantGaramond-400;
  }
  &__headmember-text{
    max-width: 435px;
    margin: 0 auto;
    @extend %OpenSans-400;
  }
}

.footer{
  background-color: $title2-black;
  padding: 55px 0 54px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-copy{
    color: #fff;
    opacity: .5;
    @extend %OpenSans-400;
  }
  &-social{
    display: flex;
    align-items: center;
    opacity: .5;
  }
  &-social__link+.footer-social__link{
    margin-left: 8px;
  }
}



//Resources
.header-content__resources{
  .header-title{
    margin-top: 164px;
  }
}

.resources{
  margin-top: -108px;
  margin-bottom: 72px;
  &-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 64px 32px;
  }
  &-item{
    max-width: 359px;
    width: 100%;
  }
  &-item__imgbox{
    margin-bottom: 24px;
  }
  &-item__date{
    font-size: 13px;
    line-height: 150%;
    opacity: 0.5;
    @extend %OpenSans-400;
  }
  &-item__title{
    font-size: 24px;
    line-height: 165%;
    margin-bottom: 8px;
  }
  &-item__title-link{
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: none;
  }
  &-item__text{
    font-size: 15px;
    line-height: 175%;
    @extend %OpenSans-400;
  }
}


//Blog
.header-content__blog{
  .header-title{
    margin-top: 16px;
    min-width: 748px;
    font-size: 64px;
    line-height: 64px;
  }
  &-date{
    margin-top: 24px;
    text-align: center;
    font-size: 13px;
    line-height: 150%;
    opacity: 0.5;
    @extend %OpenSans-400;
  }
}
.blog-top{
  margin-top: -185px;
  margin-bottom: 64px;
  @extend %OpenSans-400;
  &__img{
    margin-bottom: 64px;
  }
  &__descr{
    max-width: 750px;
    margin: 0 auto;
  }
  &__text{
    margin-bottom: 35px;
  }
  &__list{
    list-style-type: disc;
  }
  ol.blog-top__list{
    padding-left: 18px;
  }
  &__item{
    margin-bottom: 24px;
    span{
      @extend %OpenSans-700;
    }
    &::marker{
      color: $accent2;
    }
    &:first-child{
      list-style: none;
      margin-bottom: 24px;
      margin-left: -20px;
    }
  }
}
.blog-receip{
  margin-bottom: 120px;
  &__title{
    text-align: center;
    font-size: 48px;
    line-height: 115%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title;
    margin-bottom: 40px;
    @extend %CormorantGaramond-400;
  }
  &__item{
    margin-bottom: 80px;
    @extend %OpenSans-400;
  }
  &__item-inner{
    display: flex;
  }
  &__item-imgbox{
    max-width: 455px;
    width: 100%;
    margin-right: 99px;
  }
  &__item-title{
    font-size: 32px;
    line-height: 115%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $title2-black;
    margin-bottom: 24px;
    @extend %CormorantGaramond-400;
  }
  &__item-holder{
    display: flex;
    margin-bottom: 24px;
  }
  &__item-time{
    max-width: 150px;
    width: 100%;
    margin-right: 32px;
    span{
      @extend %OpenSans-700;
    }
  }
  &__item-serving{
    margin-bottom: 24px;
    span{
      display: block;
      @extend %OpenSans-700;
    }
  }
  &__item-ingredients__title{
    margin-bottom: 8px;
    display: block;
    @extend %OpenSans-700;
  }
  &__item-ingredients__inner{
    column-count: 2;
    column-gap: 68px;
    
  }
  &__item-list{
    max-width: 258px;
  }
  ul.blog-receip__item-list{
    padding-left: 17px;
  }
  &__item-excerpt{ 
    list-style-type: disc;
    margin-bottom: 35px;
    &::marker{
      color: $accent2;
    }
  }
  &__item-instructions{
    li{
      list-style-type: decimal-leading-zero;
      padding-left: 18px;
      margin-bottom: 25px;
      &::marker{
        color: $accent2;
        margin-right: 16px;
        @extend %OpenSans-700;
      }
    }
  }
  &__item-instructions__title{
      @extend %OpenSans-700;
      margin-bottom: 8px;
      display: block;
  }
  ol.blog-receip__item-instructions{
    padding-left: 25px;
  }
}
.blog-recent{
  margin-bottom: 150px;
  &__title{
    font-size: 64px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 64px;
    text-align: center;
    @extend %CormorantGaramond-400;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
}




@import 'media';